@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    São Paulo - SP<br />
    Rua Vergueiro<br />
    <abbr title="Cel">Cel:</abbr>
    +55 11 9-4846-1987
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:wagner.louzada@gmail.com">wagner.louzada@gmail.com</a><br />
    <strong>site:</strong> <a href="http://wagner.louzada.online">Wagner.Loouzada.Online</a>
</address>