@model BRQ.MVC.ViewModels.GrupoDeRegrasViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Classificacoes</title>
</head>
<body>
    <p></p>
    <table class="table">
        <tr>
            <td>
                Classificações
            </td>
        </tr>

        @foreach (var item in Model.Classificacoes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Voltar para a Lista", "Index")
    </div>
</body>
</html>
